.idea
/UdacityDeepLearningNanoDegree.iml
.ipynb_checkpoints
.DS_Store
Icon*
week1/DLND-your-first-network/.ipynb_checkpoints/
week3/*/.ipynb_checkpoints/
*/.ipynb_checkpoints/
/week3/intro_to_tflearn/sentiment-analysis/.ipynb_checkpoints/
.vscode